*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#070707;
    color:white;
    font-family:Arial, Helvetica, sans-serif;

    overflow-x:hidden;

}

/* HERO */

.hero{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    position:relative;

    overflow:hidden;

}

.hero-content{

    width:900px;

    position:relative;

    z-index:10;

}

.badge{

    display:inline-block;

    margin-bottom:30px;

    background:#1B1B1B;

    padding:12px 24px;

    border-radius:50px;

    border:1px solid #333;

}

.hero h1{

    font-size:90px;

    line-height:.95;

    font-weight:900;

    margin-bottom:35px;

}

.hero h1 span{

    background:linear-gradient(
        90deg,
        #49B8FF,
        #A259FF,
        #FF5EC7
    );

    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;

}

.hero p{

    width:700px;

    margin:auto;

    color:#B8B8B8;

    font-size:22px;

    line-height:1.7;

}

.hero button{

    margin-top:45px;

    border:none;

    cursor:pointer;

    padding:20px 45px;

    border-radius:50px;

    color:white;

    font-size:18px;

    background:linear-gradient(
        90deg,
        #4CC2FF,
        #7A5CFF
    );

    transition:.35s;

}

.hero button:hover{

    transform:translateY(-5px);

    box-shadow:0 0 35px rgba(122,92,255,.55);

}

/* Luces */

.background-glow{

    position:absolute;

    border-radius:50%;

    filter:blur(120px);

}

.glow1{

    width:500px;

    height:500px;

    background:#5B5BFF;

    top:-120px;

    left:-120px;

    animation:float1 8s infinite alternate;

}

.glow2{

    width:550px;

    height:550px;

    background:#AA32FF;

    bottom:-200px;

    right:-120px;

    animation:float2 10s infinite alternate;

}

@keyframes float1{

    from{

        transform:translateY(0px);

    }

    to{

        transform:translateY(70px);

    }

}

@keyframes float2{

    from{

        transform:translateY(0px);

    }

    to{

        transform:translateY(-80px);

    }

}