/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#090909;
    color:white;
}

/* ===========================
   NAVBAR
=========================== */

header{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:25px 80px;

    z-index:1000;
}

header h2{

    font-size:30px;
    font-weight:bold;

}

nav{

    display:flex;
    gap:35px;

}

nav a{

    color:white;
    text-decoration:none;

    font-size:17px;

    transition:.3s;

}

nav a:hover{

    color:#7A5CFF;

}

/* ===========================
   HERO
=========================== */

.hero{

    min-height:100vh;

    display:flex;
    align-items:center;

    padding:0 80px;

}

.hero-content{

    max-width:700px;

}

.hero h1{

    font-size:85px;

    line-height:1;

    font-weight:900;

    margin-bottom:25px;

}

.hero span{

    background:linear-gradient(90deg,#35C8FF,#A855F7,#FF63C3);

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

}

.hero p{

    font-size:22px;

    color:#CFCFCF;

    line-height:1.7;

    margin-bottom:40px;

}

.hero button{

    background:linear-gradient(90deg,#35C8FF,#A855F7);

    border:none;

    color:white;

    padding:18px 40px;

    border-radius:50px;

    cursor:pointer;

    font-size:18px;

    transition:.3s;

}

.hero button:hover{

    transform:scale(1.05);

}